body{
    padding: 32px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.about{
    text-align: center;
}


p,div{
    text-align: justify;
}



.form-group{

}

button{
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: antiquewhite;
}

#bg-1{
    background-color: #3498db;
    color: #f8f8f8;
}

#bg-1:hover{
    background-color: #1f5f89;
    color: #f8f8f8;
}

#bg-2{
    background-color: #95a5a6;
    color: #f8f8f8;
}

#bg-2:hover{
    background-color: #585f5f;
    color: #f8f8f8;
}

#bg-3{
    background-color: #2ecc71;
    color: #f8f8f8;
}

#bg-3:hover{
    background-color: #18743e;
    color: #f8f8f8;
}


.form-item{
    
}

.section-item{
    font-weight: bold;
    margin-bottom: 8px;
}

.atau{
    margin: 5px;
}


.section-content{
    margin: 32px;
}

.citation{
    font-size: xx-large; 
    font-style: italic;
}

input{
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}






